<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <!-- <span class="text-uppercase page-subtitle">Watchtower Logs</span> -->
        <h3 class="page-title">Logging</h3>
    </div>
</div>
<!-- End Page Header -->
<!-- Default Light Table -->
<div class="row border-bottom pb-4 mb-4">
    <div class="col">
        <div class="card card-small mb-2">
            <div class="card-header border-bottom">
                <h6 class="m-0">Change Logging Level</h6>
            </div>
            <div class="row p-3">
                <div class="col">
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column">
                            <h6 class="d-block">Current Level</h6>
                            <div class="pl-4" th:text="${currentLogLevel}"></div>
                            <form action="/logging/download" method="GET" class="mt-auto"
                                  th:if="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).LOGGING_DOWNLOAD_NAME+''')')}">
                                <button type="submit" class="btn btn-accent">Download Logs</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form action="/logging/set" method="POST"
                                  th:if="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).LOGGING_MODIFY_NAME+''')')}">
                                <h6 class="d-block">Select New Log Level</h6>
                                <div class="form-group col-md-6">
                                    <select name="loglevel" class="form-control">
                                        <option th:each="level : ${logOptions}" th:value="${level}" th:text="${level}" th:selected="${#strings.equals(level, currentLogLevel)}"/>
                                    </select>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-accent">Update Log Level</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card card-small mb-2">
            <div class="card-header border-bottom">
                <h6 class="m-0">Most Recent Logs</h6>
                <span th:text="${'Current Server Time: ' + #temporals.format(currentTime, 'yyy-MM-dd HH:mm:ss')}"></span>
            </div>
            <div class="row p-3">
                <div class="col">
                    <th:block th:each="log : ${logs}">
                        <span th:text="${log}"> </span><br>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Default Light Table -->