<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-6 text-center text-sm-left mb-0">
    <!--  <span class="text-uppercase page-subtitle">Pull Request Scan</span> -->
    <h3 class="page-title">Upload Scan</h3>
  </div>
</div>
<!-- End Page Header -->
<!-- Content -->
<!-- Top Row -->
<div class="row border-bottom pb-4 mb-4">
  <div class="col-lg-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0">Submit a Scan</h6>
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-4">
            <form method="POST" action="/uploadscan" enctype="multipart/form-data">
              <div class="form-row">
                <div class="form-group ">
                  <label class="font-weight-bold" for="uploadControl">Upload Zip File</label>
                  <input type="file" class="form-control-file" id="uploadControl" name="uploadFile">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group ">
                  <label class="font-weight-bold">Ruleset</label>
                  <select name="ruleset" class="form-control">
                    <option th:each="ruleset : ${rulesets}" th:value="${ruleset.getName()}"
                            th:text="${ruleset.getName()}"
                            th:selected="${defaultRuleset!=null && ruleset.getName().equals(defaultRuleset.getName())}"/>
                  </select>
                </div>
              </div>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button class="btn btn-primary" type="Submit">Submit for
                Scanning
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-small mb-4 h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0">Scanner Status</h6>
      </div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4">
            <strong class="d-block" th:text="'Queued Scans: ' + ${numScansQueued}"></strong>
            <strong class="d-block" th:text="'Active Scans: ' + ${numScansInProgress}"></strong>
          </li>
          <li class="list-group-item px-4"
              th:if="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).SCAN_ADMIN_NAME+''')')}">
            <label class="font-weight-bold">Pause/Resume Scanner</label>
            <form class="mb-1" method="POST" action="/uploadscan/pause">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <th:block th:if="${scanStatePaused}">
                <input type="hidden" name="pause" value="false">
                <button class="btn btn-success" name="pause">Resume Scanner</button>
              </th:block>
              <th:block th:unless="${scanStatePaused}">
                <input type="hidden" name="pause" value="true">
                <button class="btn btn-warning" name="pause">Pause Scanner</button>
              </th:block>
            </form>
            <span>Pausing allows more scans to be queued, but does not execute any queued scans</span>
          </li>
          <li class="list-group-item px-4"
              th:unless="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).SCAN_ADMIN_NAME+''')')}">
            <label class="font-weight-bold">Pause/Resume Scanner</label>
            <div th:if="${scanStatePaused}" class="bg-warning rounded text-white text-center p-2"
                 style="box-shadow: inset 0 0 5px rgba(0,0,0,.2);">Scanner is Paused
            </div>
            <div th:unless="${scanStatePaused}"
                 class="bg-success rounded text-white text-center p-2"
                 style="box-shadow: inset 0 0 5px rgba(0,0,0,.2);">Scanner is Working
            </div>
            <span>Pausing allows more scans to be queued, but does not execute any queued scans</span>
          </li>
          <li class="list-group-item px-4"
              th:if="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).SCAN_ADMIN_NAME+''')')}">
            <label class="font-weight-bold">Quiesce/Resume Scanner</label>
            <form class="mb-1" method="POST" action="/uploadscan/quiesce">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <th:block th:if="${scanStateQuiesced}">
                <input type="hidden" name="quiesce" value="false">
                <button class="btn btn-success" name="pausebtn">Resume Scanner</button>
              </th:block>
              <th:block th:unless="${scanStateQuiesced}">
                <input type="hidden" name="quiesce" value="true">
                <button class="btn btn-warning" name="quiescebtn">Quiesce Scanner</button>
              </th:block>
            </form>
            <span
                class="mt-1">Quiescing completes current queued scans and rejects all new scans</span>
          </li>
          <li class="list-group-item px-4"
              th:unless="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).SCAN_ADMIN_NAME+''')')}">
            <label class="font-weight-bold">Quiesce/Resume Scanner</label>
            <div th:if="${scanStateQuiesced}" class="bg-warning rounded text-white text-center p-2"
                 style="box-shadow: inset 0 0 5px rgba(0,0,0,.2);">Scanner is Quiesced
            </div>
            <div th:unless="${scanStateQuiesced}"
                 class="bg-success rounded text-white text-center p-2"
                 style="box-shadow: inset 0 0 5px rgba(0,0,0,.2);">Scanner is Active
            </div>
            <span
                class="mt-1">Quiescing completes current queued scans and rejects all new scans</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0">Directions</h6>
      </div>
      <div class="card-body p-0 pb-3 ">
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4">
            <strong class="text-muted d-block mb-2">Submit a Scan</strong>
            <span>
                          Fill out the form to the left with the Zip file you'd like to scan and 
                          the ruleset with which to scan the zipped files. The scan will be queued
                          in the engine and process when a scanning thread is available.
                        </span>
          </li>
          <li class="list-group-item px-4">
            <strong class="text-muted d-block mb-2">Scanner Status</strong>
            <span>
                          The status of the scanner shows the number of scans currently queued in
                          the system, as well as whether the scanner is paused or quiesced.
                        </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Top Row -->
<div class="row">
  <div class="col">
    <div class="card card-small mb-4">
      <div class="card-header border-bottom">
        <h6 class="m-0">Past Scans Reporting</h6>
      </div>
      <div th:if="${lastScans.empty}">
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4">
            <strong class="text-muted d-block mb-2">No previous reports</strong>
          </li>
        </ul>
      </div>
      <div th:unless="${lastScans.empty}">
        <div class="card-body pb-3 text-center">
          <table class="table mb-0 w-100 datatable-invert">
            <thead class="bg-light">
            <tr>
              <th scope="col" class="border-0">Scan ID</th>
              <th scope="col" class="border-0">Scan Submit</th>
              <th scope="col" class="border-0">Scan End</th>
              <th scope="col" class="border-0">Name</th>
              <th scope="col" class="border-0">Ruleset</th>
              <th scope="col" class="border-0">Status</th>
              <th scope="col" class="border-0">Violations</th>
              <th scope="col" class="border-0"
                  th:if="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).SCAN_RESULTS_NAME+''')')}">View Report</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="scan : ${lastScans}">
              <td th:text="${scan.getId()}">Scan ID</td>
              <td class="localizetime" th:text="${scan.getStartDateMillis()}"
                  th:data-order="${scan.getStartDateMillis()}">Date Submitted
              </td>
              <td class="localizetime" th:text="${scan.getEndDateMillis()}"
                  th:data-order="${scan.getEndDateMillis()}">Date Reviewed
              </td>
              <td th:text="${scan.getContainer().getName()}">Name</td>
              <td th:text="${scan.getContainer().getRuleSet()}">Ruleset</td>
              <td th:text="${scan.getStatus().getDisplayName()}">Status</td>
              <td th:text="${scan.getNumViolations()}">Violations</td>
              <td class="py-0"
                  th:if="${#authorization.expression('hasAuthority('''+T(com.tracelink.appsec.watchtower.core.auth.model.CorePrivilege).SCAN_RESULTS_NAME+''')')}">
                <a class="btn btn-success"
                   th:if="${scan.getStatus() == T(com.tracelink.appsec.watchtower.core.scan.ScanStatus).DONE}"
                   th:href="${'/uploadscan/report/' + scan.getContainer().getTicket()}">Report</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
