<div class="form-row">
  <div class="form-group col">
    <label for="workspace">Workspace</label>
    <input type="text" class="form-control" placeholder="Workspace" id="workspace" name="workspace"
           th:value="${entity?.workspace}"/>
  </div>
  <div class="form-group col">
    <label for="user">Username</label>
    <input type="text" class="form-control" placeholder="Username" id="user" name="user"
           th:value="${entity?.user}"/>
  </div>
  <div class="form-group col">
    <label for="auth">Authentication</label>
    <input type="password" class="form-control"
           th:placeholder="${entity==null ? 'Authentication' : 'Hidden For Security'}" id="auth"
           name="auth"/>
  </div>
</div>

