<!-- Source -->
<div class="col">
  <div class="row mx-0 mb-4">
    <div class="col-lg-6 col-md-6 col-sm-12 pl-0">
      <div class="card card-small ">
        <div class="card-header border-bottom py-1">
          <h6 class="d-inline m-0">Source Code</h6>
          <a class="display-6 d-inline float-right m-0 text-muted" role="button" tabindex="0"
             data-toggle="popover" data-trigger="focus" th:data-content="${help.get('pmdSource')}">Help</a>
        </div>
        <div class="card-body d-flex">
          <textarea id="source" name="source" form="runqueryform" rows="15" cols="100"
                    th:text="${sourceCode}"></textarea>
        </div>
        <div class="card-footer border-top py-1">
          <div class="d-flex">
            <form method="POST" id="runqueryform" class="form-inline" action="/designer/pmd/query">
              <div class="form-group pr-4">
                <label class="font-weight-bold" for="language">Language&nbsp;</label>
                <select name="language" id="queryLanguage" class="form-control pull-right">
                  <option th:each="lang : ${supportedLanguages}" th:value="${lang}"
                          th:text="${lang}" th:selected="${#strings.equals(lang, language)}"/>
                </select>
              </div>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button class="btn btn-primary" name="Submit" value="Submit" type="Submit">Run Rule
              </button>
            </form>
            <button class="ml-auto btn btn-success" data-toggle="modal"
                    data-target="#savePmdRuleModal">Save Rule
            </button>
          </div>
        </div>

      </div>
    </div>
    <!-- End Source -->
    <!-- AST -->
    <div class="col-lg-6 col-md-6 col-sm-12 pr-0">
      <div class="card card-small h-100 mh-100">
        <div class="card-header border-bottom pt-1 pb-1">
          <h6 class="d-inline m-0">Abstract Syntax Tree</h6>
          <a class="display-6 d-inline float-right m-0 text-muted" role="button" tabindex="0"
             data-toggle="popover" data-trigger="focus"
             th:data-content="${help.get('syntax')}">Help</a>
        </div>
        <div class="card-body overflow-auto mb-4" style="height:100px">
          <pre th:if="${error != null}" th:text="${error}"></pre>
          <div th:if="${error == null}">
            <div th:each="astNode : ${ast}">
              <span th:utext="${astNode.getName()}"></span>
              <a tabindex="0" role="button"
                 data-toggle="popover" data-trigger="focus" data-html="true"
                 th:if="${astNode.getAttributes().size()>0}"
                 th:data-content="${#strings.listJoin(astNode.getAttributes(),'<br/>')}">Attributes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End AST -->
  <!-- Query -->
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="card card-small h-100">
        <div class="card-header border-bottom py-1">
          <h6 class="d-inline m-0">XPath Rule</h6>
          <a class="display-6 d-inline float-right m-0 text-muted" role="button" tabindex="0"
             data-toggle="popover" data-trigger="focus"
             th:data-content="${help.get('xpath')}">Help</a>
        </div>
        <div class="card-body d-flex">
          <textarea id="xpathquery" name="query" form="runqueryform" cols="200"
                    th:text="${query}"></textarea>
        </div>
      </div>
    </div>
    <!-- End Query -->

    <!-- Matches -->
    <div class="col">
      <div class="card card-small h-100">
        <div class="card-header border-bottom py-1">
          <h6 class="d-inline m-0">Matches Found</h6>
          <a class="display-6 d-inline float-right m-0 text-muted" role="button" tabindex="0"
             data-toggle="popover" data-trigger="focus" th:data-content="${help.get('matches')}">Help</a>
        </div>
        <div class="card-body overflow-auto" style="height:100px">
          <pre th:if="${error != null}" th:text="${error}"></pre>
          <div th:if="${error==null}">
            <div th:each="match : ${matches}" th:text="${match}"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Matches -->
  </div>
</div>

<div class="modal fade" id="savePmdRuleModal" tabindex="-1"
     role="dialog"
     aria-labelledby="savePmdRuleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="savePmdRuleLabel">Save Rule</h4>
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <form id="savePmdRuleForm" method="post" class="form"
                  action="/designer/pmd/save">
              <div class="form-group">
                <label for="ruleName">Rule Name</label>
                <input type="text" class="form-control" name="name" id="ruleName"
                       placeholder="Rule Name" th:value="${ruleName}"/>
              </div>
              <div class="form-group">
                <label for="ruleMessage">Short Message</label>
                <input type="text" class="form-control" name="message" id="ruleMessage"
                       placeholder="Rule Message" th:value="${ruleMessage}"/>
              </div>
              <div class="form-group">
                <label for="ruleDescription">Long Description</label>
                <textarea id="ruleDescription" class="form-control" name="description"
                          form="savePmdRuleForm" cols="60" th:text="${ruleDescription}"></textarea>
              </div>
              <div class="form-group">
                <label for="ruleLanguage">Language</label>
                <select name="language" class="form-control" id="ruleLanguage">
                  <option th:each="lang : ${supportedLanguages}" th:value="${lang}"
                          th:text="${lang}"/>
                </select>
              </div>
              <div class="form-group">
                <label for="rulePriority">Priority</label>
                <select name="priority" class="form-control" id="rulePriority">
                  <option th:each="priority : ${rulePriorities}"
                          th:value="${priority.getPriority()}" th:text="${priority.getName()}"
                          th:selected="${priority.getPriority()==rulePriority}"/>
                </select>
              </div>
              <div class="form-group">
                <label for="ruleQuery">Query</label>
                <input type="text" class="form-control" name="query" id="ruleQuery"
                       placeholder="Query"/>
              </div>
              <div class="form-group">
                <label for="ruleUrl">External URL</label>
                <input type="text" class="form-control" name="externalUrl" id="ruleUrl"
                       placeholder="URL for more information" th:value="${ruleExtUrl}"/>
              </div>
              <input type="hidden" id="formSource" name="source"/>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button class="btn btn-success" type="submit">Save Rule</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
