<!-- Page Header -->
<div class="page-header row no-gutters py-4">
	<div class="col-12 col-sm-6 text-center text-sm-left mb-0">
		<!--  <span class="text-uppercase page-subtitle">Pull Request Scan</span> -->
		<h3 class="page-title">Upload Scan Report</h3>
	</div>
</div>
<!-- End Page Header -->
<!-- Content -->
<div class="row">
	<div class="col">
		<div class="card h-100">
			<div class="card-body">
				<div class="row border-bottom mb-4">
					<div class="col">
						<div class="mb-4">
							<h6 class="d-block">Api Label</h6>
							<div th:text="${result.getApiLabel()}"></div>
						</div>
						<div class="mb-4">
							<h6 class="d-block">Submit Date</h6>
							<div class="localizetime" th:text="${result.getSubmitDateMillis()}"></div>
						</div>
					</div>
					<div class="col">
						<div class="mb-4">
							<h6 class="d-block">Image Name</h6>
							<div th:text="${result.getImageName()}"></div>
						</div>
						<div class="mb-4">
							<h6 class="d-block">Scan Ended On</h6>
							<div class="localizetime" th:text="${result.getEndDateMillis()}"></div>
						</div>
					</div>
					<div class="col">
						<div class="mb-4">
							<h6 class="d-block">Tag</h6>
							<div th:text="${result.getTagName()}"></div>
						</div>
						<div class="mb-4">
							<h6 class="d-block">Violations Found</h6>
							<div th:text="${result.getViolations().size()}"></div>
						</div>
					</div>
					<div class="col">
						<div class="mb-4">
							<h6 class="d-block">Status</h6>
							<div th:text="${result.getStatus()}"></div>
						</div>
						<div class="mb-4">
							<h6 class="d-block">Errors</h6>
							<div th:text="${result.getErrorMessage() == null ? 'N/A' : result.getErrorMessage()}"></div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h6 class="">Violations</h6>
						<table class="table mb-0 w-100 datatable">
							<thead class="bg-light">
								<tr>
									<th scope="col" class="border-0">Violation Name</th>
									<th scope="col" class="border-0">Severity</th>
									<th scope="col" class="border-0">CVSS Score</th>
									<th scope="col" class="border-0">Description</th>
									<th scope="col" class="border-0">External URL</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="vio : ${result.getViolations()}">
									<td th:text="${vio.getViolationName()}">Violation Name</td>
									<td th:text="${vio.getSeverity()}">Severity</td>
									<td th:text="${vio.getScore()}">Score</td>
									<td th:text="${vio.getDescription()}">Description</td>
									<td><a th:href="${vio.getUri()}" th:text="${vio.getUri()}" target="_blank"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Content -->
