<!-- Card Footer -->
<div class="card-footer">
    <p class="card-title text-left">Edit Rule Details</p>
    <form class="d-inline" th:action="${'/rule/edit/regex/edit/'+(rule.isProvided()?'provided':'core')}" method="POST">
        <div class="row mb-2">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name"
                       th:value="${rule.name}" name="name" th:readonly="${rule.isProvided()}">
            </div>
            <label for="priority" class="col-sm-2 col-form-label text-right">Priority</label>
            <div class="col-sm-2">
                <select class="form-control" id="priority" name="priority">
                    <option th:each="priority : ${priorities}" th:value="${priority}"
                            th:text="${priority.getName()}"
                            th:selected="${priority.getPriority()==rule.priority.getPriority()}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-2">
            <label for="author" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-4">
                <input type="text" readonly class="form-control" id="author" th:value="${rule.author}"
                       name="author">
            </div>
        </div>
        <div class="row mb-2">
            <label for="fileExtension" class="col-sm-2 col-form-label">File Extension</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="fileExtension"
                       th:value="${rule.fileExtension}" name="fileExtension"
                       th:readonly="${rule.isProvided()}"
                       placeholder="If this field is left empty, all file types will be scanned">
            </div>
        </div>
        <div class="row mb-2">
            <label for="ruleMessage" class="col-sm-2">Message</label>
            <div class="col-sm-10">
                                            <textarea class="form-control" rows="4" id="ruleMessage"
                                                      th:text="${rule.message}" th:readonly="${rule.isProvided()}"
                                                      name="message"></textarea>
            </div>
        </div>
        <div class="row mb-2">
            <label for="externalUrl" class="col-sm-2">External URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="externalUrl"
                       th:value="${rule.externalUrl}" th:readonly="${rule.isProvided()}"
                       name="externalUrl"/>
            </div>
        </div>
        <div class="row mb-2">
            <label for="regexPattern" class="col-sm-2">Regex Pattern</label>
            <div class="col-sm-10">
                    <textarea class="form-control" rows="4" id="regexPattern"
                              th:text="${rule.regexPattern}" th:readonly="${rule.isProvided()}" 
                              name="regexPattern"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-warning" type="submit">
                    Save Rule Details
                </button>
            </div>
            <input type="hidden" th:name="id" th:value="${rule.id}">
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
        </div>
    </form>
</div>
<!-- End Card Footer -->