<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <!-- <span class="text-uppercase page-subtitle">Dashboard</span> -->
        <h3 class="page-title">Pull Request Dashboard</h3>
    </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Scans Completed</span>
                        <h6 class="stats-small__value count my-3" th:text=${numScans}></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Pull Requests Scanned</span>
                        <h6 class="stats-small__value count my-3" th:text=${numPrs}></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Repositories Scanned</span>
                        <h6 class="stats-small__value count my-3" th:text=${numRepos}></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Violations Found</span>
                        <h6 class="stats-small__value count my-3" th:text=${numViolations}></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Small Stats Blocks -->
<div class="row">
	<div class="col-12">
		<div class="card card-small h-100">
			<div class="card-header border-bottom">
				<ul class="list-group list-group-flush">
					<li class="list-group-item px-3 py-0">
						<div class="btn-group btn-group-toggle" id="statsbtn" data-toggle="buttons">
							<label class="btn btn-white active">
								<input type="radio" id="line">Scans vs Violations
							</label>
							<label class="btn btn-white">
								<input type="radio" id="pie">Violations by Type
							</label>
							<label class="btn btn-white">
								<input type="radio" id="bar">Violations by Time/Type
							</label>
						</div>
					</li>
				</ul>
			</div>
			<div id="line" class="statscards">
				<h6 class="px-4">Scans Completed and Violations Found</h6>
				<div class="card-body d-flex py-0">
	                <canvas id="scans-vios-line"></canvas>
	                <div class="d-flex flex-column m-auto">
	                    <div class="stats-med__data text-center">
	                        <div id="line-no-data"></div>
	                    </div>
	                </div>
	            </div>
	            <div class="card-footer border-top">
	                <div class="row">
	                    <div class="col-auto">
	                        <select class="custom-select custom-select-sm" id="line-period">
	                            <option value="last-week">Last Week</option>
	                            <option selected value="last-four-weeks">Last Four Weeks</option>
	                            <option value="last-six-months">Last Six Months</option>
	                            <option value="all-time">All Time</option>
	                        </select>
	                    </div>
	                </div>
	            </div>
            </div>
  			<div id="pie" class="statscards d-none">
  				<h6 class="px-4">Violations by Type</h6>
	  			<div class="card-body d-flex py-0" >
	                <canvas id="violations-pie"></canvas>
	                <div class="d-flex flex-column m-auto">
	                    <div class="stats-med__data text-center">
	                        <div id="pie-no-data"></div>
	                    </div>
	                </div>
	            </div>
	            <div class="card-footer border-top">
	                <div class="row">
	                    <div class="col-auto">
	                        <select class="custom-select custom-select-sm" id="pie-period">
	                            <option value="last-week">Last Week</option>
	                            <option selected value="last-four-weeks">Last Four Weeks</option>
	                            <option value="last-six-months">Last Six Months</option>
	                            <option value="all-time">All Time</option>
	                        </select>
	                    </div>
	                </div>
	            </div>
            </div>
            <div id="bar" class="statscards d-none">
         		<h6 class="px-4">Scans Completed and Violations Found</h6>
				<div class="card-body d-flex py-0">
	                <canvas id="violations-bar"></canvas>
	                <div class="d-flex flex-column m-auto">
	                    <div class="stats-med__data text-center">
	                        <div id="bar-no-data"></div>
	                    </div>
	                </div>
	            </div>
	            <div class="card-footer border-top">
	                <div class="row">
	                    <div class="col-auto">
	                        <select class="custom-select custom-select-sm" id="bar-period">
	                            <option value="last-week">Last Week</option>
	                            <option selected value="last-four-weeks">Last Four Weeks</option>
	                            <option value="last-six-months">Last Six Months</option>
	                            <option value="all-time">All Time</option>
	                        </select>
	                    </div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
</div>
